<div class="logo">
    <a href="http://ftn.uns.ac.rs" class="simple-text" target="_blank">
        <div class="logo-img">
            <img src="/assets/img/ftn.jpg"/>
        </div>
        TSEO 2018
    </a>
</div>
<div class="sidebar-wrapper">
  <ul class="nav">
      <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
          <a class="nav-link" [routerLink]="[menuItem.path]">
              <i class="material-icons">{{menuItem.icon}}</i>
              <p>{{menuItem.title}}</p>
          </a>
      </li>
  </ul>

  <div *ngIf="isMobileMenu()">
    <ul class="nav navbar-nav nav-mobile-menu">
      <!-- <li class="nav-item">
          <a class="nav-link" (click)="Logout()">
              <i class="material-icons">block</i>
              <p>
                  <span class="d-lg-none d-md-block">Log Out</span>
              </p>
          </a>
      </li> -->
    </ul>
  </div>

</div>
